<config>
    <modules>
        <Meowallet_Payment>
            <version>0.0.1</version>
        </Meowallet_Payment>
    </modules>
    <global>
        <models>
            <meowallet>
                <class>Meowallet_Payment_Model</class>
            </meowallet>
        </models>
	<helpers>
		<meowallet>
			<class>Meowallet_Payment_Helper</class>
		</meowallet>
	</helpers>
	<blocks>
		<meowallet>
		    <class>Meowallet_Payment_Block</class>
		</meowallet>
	</blocks>
        <resources>
            <meowallet_setup>
                <setup>
                    <module>Meowallet_Payment</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </meowallet_setup>
            <meowallet_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </meowallet_write>
            <meowallet_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </meowallet_read>
        </resources>
        <payment>
            <groups>
                <meowallet>Meowallet</meowallet>
            </groups>
        </payment>
    </global>
    <adminhtml>
       <translate>
           <modules>
               <Meowallet_Payment>
                   <files>
                       <default>Meowallet_Payment.csv</default>
                   </files>
                </Meowallet_Payment>
            </modules>
       </translate>
    </adminhtml>
    <frontend>
       <routers>
         <meowallet>
	        <use>standard</use>
      	    <args>
              <module>Meowallet_Payment</module>
	          <frontName>meowallet</frontName>
	        </args>
	      </meowallet>
       </routers>
       <layout>
            <updates>
                <meowallet>
                    <file>meowallet.xml</file>
                </meowallet>
            </updates>
        </layout>
        <translate>
            <modules>
                <Meowallet_Payment>
                    <files>
                        <default>Meowallet_Payment.csv</default>
                    </files>
                </Meowallet_Payment>
            </modules>
        </translate>
    </frontend>
    <default>
        <payment>
            <meowallet_procheckout>
                <active>0</active>
                <model>meowallet/meowallet_procheckout</model>
                <title>MEO Wallet (Saldo/CC/MB)</title>
                <payment_action>sale</payment_action>
                <allowspecific>0</allowspecific>
                <environment>1</environment>
                <production_api_token></production_api_token>
                <sandbox_api_token></sandbox_api_token>
                <sort_order>1</sort_order>
            </meowallet_procheckout>
        </payment>
    </default>
</config>
